@font-face {
  font-family: 'Iran-sans';
  src: url(./IRANSans_UltraLight.ttf) ;
  font-weight: 100;
}
@font-face {
  font-family: 'Iran-sans';
  src: url(./IRANSans_Light.ttf) ;
  font-weight: 200;
}
@font-face {
  font-family: 'Iran-sans';
  src: url(./IRANSans_Medium.ttf) ;
  font-weight: 300;
}
@font-face {
  font-family: 'Iran-sans';
  src: url(./IRANSans.ttf) ;
  font-weight: 500;
}
@font-face {
  font-family: 'Iran-sans';
  src: url(./IRANSans_Bold.ttf) ;
  font-weight: 700;
}
@font-face {
  font-family: 'Iran-sans';
  src: url(./IRANSans_Black.ttf) ;
  font-weight: 900;
}
